.search
{
 position: absolute;
 z-index: 1000;
 left: 50%;
 transform: translateX(-50%);
 margin-top: 2.5rem;
 background-color: #fff;
 border-radius: 12px;
 padding: 2rem;
 overflow-x: hidden!important;
}

.search > h3 {
 display: flex;
 align-items: center;
 justify-content: space-between;
 width: 559px;
 background-color: white;
 /* position: absolute; */
 left: 0;
 padding: 10px;
 top: 94%;
 padding-bottom: 10%;
}

.search > h3 > input {
 height: 30px;
 border: none;
 background: #ffe;
 border: 1px solid #fafafa;
}

.search > h3 > input:focus {
 outline: none;
}

.search > button {
 display: flex;
 /* position: relative; */
 /* left: 30%;
     top: 118%; */
 text-transform: inherit !important;
 background-color: #ff7779;
 color: white;
 width: 54%;
}

.search > button:hover {
 background-color: white;
 color: #ff7779;
}

.search > h3 > .search__filter {
 cursor: pointer !important;
}

.search__date {
 display: flex;
 justify-content: stretch;
 align-items: center;
 gap: 2rem;
 width: 100%;
}

@media screen and (max-width: 700px) {
 .search__date {
   flex-direction: column;
   gap: 0;
   
 }
 .rdrDefinedRangesWrapper {
   width: 100%;
 }
}